@import "part/mixins";
@import "part/fx-utils";
@import "part/fonts";
@import "part/variables";
@import "part/base";
@import "part/layout";
@import "part/modules";
@import "part/global-style";
@import "part/custom-bootstrap";
@import "part/custom-plugins";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html {
    scroll-behavior: smooth;
  }
  
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../images/home.jpg);
    background-position: top;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    nav{
        width: 100%;
        background-color: white;
        .container{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-top: 16px;
            padding-bottom: 16px;
            background-color: white;
            @media (max-width:768px) {
                padding: 16px 32px;
            }
            .hamburger-icon{
                cursor: pointer;
                @media (min-width:993px) {
                    display: none;
                }
                a{
                    font-size: 14pt;
                    i{
                        color: black;
                    }
                }
            }
            .brand-logo{
                width: 20%;
                @media (max-width:767px) {
                    width: 50%;
                }
                img{
                    width:100%
                }
            }
            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    margin-right: 16px;
                    @media (max-width:992px) {
                        display: none;
                    }
                    &:nth-child(7){
                        margin-right: 0;
                        font-size: 18pt;
                        a{
                            color: darkgray;
                        }
                    }
                    &:last-child{
                        margin-right: 0;
                        background-color: rgb(53, 53, 53);
                        width: 30px;
                        height: 30px;
                        display: none;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        padding: 0;
                        @media (max-width:992px) {
                            display: flex;
                        }
                        a{
                            height: min-content;
                            i{color: white;}
                        }
                    }
                    a{
                        color: black;
                    }
                }  
            }
        }
    }

    #hamburgerMenu{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background-color: black;
        padding: 16px 0px 16px 16px;
        z-index: 10;
        a{
            margin: 8px 0px;
            color: white;
        }
    }

    .menu{
        background-color: #1D448F;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        @media (max-width:992px) {
            display: none;
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
            width: 100%;
            margin: 0px;
            padding-left: 0;
            padding-top: 8px;
            padding-bottom: 8px;
            .link{
                display: flex;
                justify-content: center;
                position: relative;
                left: 50%;
                transform: translate(-50%);
                li{
                    margin-right: 32px;
                    a{
                        color: white;
                    }
                }
            }
            .dropdown-btn{
                cursor: pointer;
                background-color: white;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
            }
        }
    }
}

.banner{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .services{
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 32px 8px 0 8px;
        width: 50%;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        background-color: rgba($color: white, $alpha: 0.5);
        @media (max-width:767px) {
            width: 100%;
        }
        .title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            a{
                color: white;
                font-size: 25pt;
                @media (max-width:767px) {
                    font-size: 18pt;
                }
            }
        }
        .item{
            display: flex;
            flex-direction: row;
            button{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 8px;
                margin-right: 8px;
                background-color: white;
                border: unset;
                border-radius: 10px;
                cursor: pointer;
                transition: all 0.1s;
                &:hover{
                    background-color: rgb(66, 66, 66);
                    color: white;
                }
                &:active{
                    box-shadow: 0px 0px 5px 2px rgba($color: #ffffff, $alpha: 0.5);
                }
                &:last-child{
                    margin-right: 0;
                }
                img{
                    width: 50px;
                    height: 50px;
                }
                a{
                    padding-left: 8px;
                    text-align: left;
                }
            }
        }
        
        .service-tabs{
            .tab {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
                button{
                    background-color: white;
                    border: none;
                    cursor: pointer;
                    padding: 8px;
                    transition: 0.3s;
                    display: flex;
                    align-items: center;
                    margin-right: 8px;
                    border-radius: 10px;
                    @media (max-width:1024px) {
                        flex-direction: column;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                    img{
                        width: 40px;
                        height: 40px;
                        @media (max-width:1280px) {
                            width: 30px;
                            height: 30px;
                        }
                    }
                    a{
                        text-align: left;
                        font-size: 14pt;
                        margin-left: 4px;
                        @media (max-width:1024px) {
                            text-align: center;
                        }
                        @media (max-width:767px) {
                            font-size: 8pt;
                        }
                    }
                    &:hover{
                        background-color: rgb(66, 66, 66);
                        a{
                            color: white;
                        }
                    }
                }
                .active{
                    background-color: rgb(66, 66, 66);
                    a{
                        color: white;
                    }
                }
            }
            .servicecontent{
                display: none;
                padding: 32px;
                background-color: white;
                color: black;
                h2{
                    color: #1071B9;
                    font-size: 24pt;
                    margin-bottom: 32px;
                }
                form{
                    .search{
                        display: flex;
                        align-items: center;
                        margin-bottom: 32px;
                        input{
                            width: 60%;
                            border: 1px rgb(49, 49, 49) solid;
                            border-radius: unset;
                        }
                        a{
                            font-size: 16pt;
                            margin-left: 16px;
                        }
                    }
                    select{
                        width:50%;
                        padding: 8px;
                        appearance: none;
                        border: 1px gray solid;
                        background: url(../images/icon/chevron-down-solid.svg) no-repeat;
                        background-position: 96% center;
                        background-size: 20px;
                        &:last-child{
                            width: 40%;
                        }
                    }
                    a{
                        font-size: 16pt;
                    }
                    .go-btn{
                        background-color: #057D65;
                        border: none;
                        color: white;
                        font-size: 18pt;
                        float: right;
                    }
                    .next-btn{
                        width: 100px;
                        background-color: #D9E027;
                        border-radius: 5px;
                        border: 1px #8CC640 solid;
                        color: black;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                    }
                }
            }
            #first{
                .search{
                    a{
                        font-size: 16pt;
                    }
                }
                .level-group{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 64px;
                    a{
                        font-size: 16pt;
                    }
                }
                a{
                    font-size: 12pt;
                    i{
                        margin-left: 8px;
                    }
                }
            }
            #second{
                form{
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    grid-template-rows: 1fr;
                    grid-template-areas: "select1 input1"
                    "select2 input2"
                    "select3 input3"
                    "select4 input4"
                    "next-btn next-btn";
                    gap: 16px;
                    select{
                        width: 100%;
                        padding: 4px;
                        border-radius: 5px;
                        margin-bottom: 8px;
                        &:first-child{
                            grid-area: select1;
                        }
                        &:nth-child(2){
                            grid-area: select2;
                        }
                        &:nth-child(3){
                            grid-area: select3;
                        }
                        &:nth-child(4){
                            grid-area: select4;
                            margin-bottom: 0;
                        }
                    }
                    .input-range{
                        display: flex;
                        align-items: center;
                        padding: 0;
                        margin: 0;
                        a{
                            color: black;
                            font-size: 14pt;
                        }
                    }
                    input{
                        width: 100%;
                        height: 1px;
                        margin-left: 8px;
                        margin-right: 8px;
                        background: black;
                        align-self: center;
                        &::before{
                            content: "1";
                            background-color: blue;
                            width: 10px;
                            height: 10px;
                        }
                        &::after{
                            content: "9";
                        }
                        &::-webkit-slider-thumb{
                            -webkit-appearance: none;
                            appearance: none;
                            width: 14px;
                            height: 14px;
                            border-radius: 30px;
                            background: #1071B9;
                            cursor: pointer;
                        }
                        &::-moz-range-thumb{
                            width: 14px;
                            height: 14px;
                            border-radius: 30px;
                            background: #1071B9;
                            cursor: pointer;
                        }
                        &:first-child{
                            grid-area: input1;
                        }
                        &:nth-child(2){
                            grid-area: input2;
                        }
                        &:nth-child(3){
                            grid-area: input3;
                        }
                        &:nth-child(4){
                            grid-area: input4;
                        }
                    }
                    .next-btn{
                        grid-area: next-btn;
                        justify-self: end;
                    }
                }
            }
            #third{
                h2{
                    margin-bottom: 16px;
                }
                h3{
                    margin-bottom: 16px;
                }
                form{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr;
                    grid-template-areas: "name gender"
                    "nric contact"
                    "nationally email"
                    "next-btn next-btn";
                    gap: 16px;
                    :first-child{
                        grid-area: name;
                    }
                    :nth-child(2){
                        grid-area: nric;
                    }
                    :nth-child(3){
                        grid-area: nationally;
                    }
                    :nth-child(4){
                        grid-area: gender;
                    }
                    :nth-child(5){
                        grid-area: contact;
                    }
                    :nth-child(6){
                        grid-area: email;
                    }
                    input{
                        border-radius: 5px;
                        border: 1px gray solid;
                        padding: 4px;
                    }
                    select{
                        width: 100%;
                        padding: 4px;
                        background-size: 12px;
                        color: gray;
                        border-radius: 5px;
                        option{
                            color: black;
                        }
                    }
                    .next-btn{
                        grid-area: next-btn;
                        justify-self: end;
                    }
                }
            }
            #fourth{
                form{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr;
                    grid-template-areas: "nric slip"
                    "name contact"
                    "nationally email"
                    "next-btn next-btn";
                    gap: 16px;
                    :first-child{
                        grid-area: nric;
                    }
                    :nth-child(2){
                        grid-area: name;
                    }
                    :nth-child(3){
                        grid-area: nationally;
                    }
                    :nth-child(4){
                        grid-area: slip;
                    }
                    :nth-child(5){
                        grid-area: contact;
                    }
                    :nth-child(6){
                        grid-area: email;
                    }
                    input{
                        border-radius: 5px;
                        border: 1px gray solid;
                        padding: 4px;
                    }
                    select{
                        width: 100%;
                        padding: 4px;
                        background-size: 12px;
                        color: gray;
                        border-radius: 5px;
                        option{
                            color: black;
                        }
                    }
                    .next-btn{
                        grid-area: next-btn;
                        justify-self: end;
                    }
                }
            }
            #fifth{
                .input-group{
                    display: flex;
                    align-items: center;
                    padding-right: 100px;
                    input{
                        border-radius: unset;
                    }
                    a{
                        margin-left: 100px;
                        font-size: 16pt;
                    }
                    button{
                        background-color: #057D65;
                        color: white;
                    }
                }
                .search-index{
                    width: 65%;
                    margin-top: 16px;
                    font-size: 24pt;
                    text-align: justify;
                    margin-bottom: 32px;
                    .index{
                        display: flex;
                        justify-content: space-between;
                    }
                }
                .viewall{
                    font-size: 12pt;
                }
                .go-btn{
                    background-color: #057D65;
                    border: none;
                    color: white;
                    font-size: 18pt;
                    float: right;
                }
            }
        }
    }
    .scrolldown-btn{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        font-size: 18pt;
        text-align: center;
        display: flex;
        justify-content: center;
        button{
            cursor: pointer;
            border: none;
            background-color: white;
            width: 60px;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            a{
                color: #1071B9;
            }
        }
    }
}

.tabs{
    margin-top: 16px;
    .tabs-title{
        font-size: 18pt;
        color: #1D448F;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
    }
    ul{
        border: unset;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        .nav-item{
            padding: 8px 0px;
            margin-right: 16px;
            &:nth-child(4){
                margin-right: 0;
            }
            .nav-link{
                margin: 0;
                padding: 0;
                border: unset;
                color: black;
            }
            .active{
                border-bottom: 2px red solid;
            }
        }
        .view{
            position: absolute;
            right: 0;
            display: flex;
            flex-direction: row;
            padding: 0px 16px;
            .nav-item{
                margin-right: 16px;
                &:last-child{
                    margin-right: 0;
                }
                .nav-link{
                    color: #1D448F;
                }
            }
        }
    }
    .tab-content{
        #featured{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media (max-width:992px) {
                flex-wrap: wrap;
            }
            .news-card{
                width: 24%;
                background-color: #E5E5E5;
                .image{
                    background-repeat: no-repeat;
                    background-size: 100%;
                }
                @media (max-width:992px) {
                    width: 49%;
                    margin-bottom: 32px;
                }
                @media (max-width:767px) {
                    width: 100%;
                }
                &:first-child{
                    .image{
                        background-image: url(../images/TKK1-1.jpg);
                        border-bottom: 5px palevioletred solid;
                    }
                }
                &:nth-child(2){
                    .image{
                        background-image: url(../images/image-news-2.png);
                        background-position: center;
                        background-size: 100%;
                        border-bottom: 5px orangered solid;
                    }
                }
                &:nth-child(3){
                    .image{
                        background-image: url(../images/AR-cover.png);
                        background-position: center;
                        background-size: 100%;
                        border-bottom: 5px rgb(40, 175, 40) solid;
                    }
                }
                &:last-child{
                    .image{
                        background-image: url(../images/image-news-4.png);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        border-bottom: 5px #1071B9 solid;
                    }
                }
                .image{
                    width: 100%;
                    height: 198px;
                }
                .date{
                    padding-left: 8px;
                    padding-top: 8px;
                    color: #1D448F;
                    font-weight: bold;
                    font-family: 'Lato', sans-serif;
                    font-weight: 700;
                }
                .headline{
                    padding-left: 8px;
                    padding-right: 8px;
                    color: black;
                    font-weight: bold;
                    font-family: 'Lato', sans-serif;
                    font-weight: 700;
                }
                .description{
                    padding-left: 8px;
                    padding-right: 8px;
                    padding-bottom: 8px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                }
            }
        }
    }
}

.social-media{
    margin-top: 32px;
    background:linear-gradient(0deg, rgba(black, 0.3), rgba(black, 0.3)), url(../images/home.jpg) 100% 80%;
    padding: 32px;
    @media (max-width:992px) {
        padding: 16px;
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @media (max-width:767px) {
            flex-direction: column;
        }
        .social-media-item{
            width: 32%;
            height: 300px;
            background-color: white;
            display: flex;
            flex-direction: column;
            @media (max-width:992px) {
                height: 250px;
            }
            @media (max-width:766px) {
                width: 100%;
                margin-bottom: 16px;
                height: 300px;
            }
            &:first-child{
                overflow-y: scroll;
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;
                &::-webkit-scrollbar{
                    display: none;
                }
                .social-media-title{
                    i{
                        color: #426EAD;
                    }
                }
            }
            &:nth-child(2){
                .social-media-title{
                    top: unset;
                    i{
                        color: #E42526;
                    }
                }
            }
            &:last-child{
                overflow-y: scroll;
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;
                &::-webkit-scrollbar{
                    display: none;
                }
                .social-media-title{
                    i{
                        color: #1C97C9;
                    }
                }
            }
            .social-media-title{
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 14pt;
                padding: 8px 16px;
                position: sticky;
                top: 0;
                z-index: 10;
                background-color: white;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                a{
                    color: #1688df;
                }
                @media (max-width:992px) {
                    font-size: 12pt;
                    flex-wrap: wrap;
                }
                @media (max-width:767px) {
                    font-size: 14pt;
                }
                i{
                    font-size: 32pt;
                    margin-right: 8px;
                    @media (max-width:992px) {
                        font-size: 16pt;
                    }
                    @media (max-width:767px) {
                        font-size: 24pt;
                    }
                }
                .button{
                    margin-left: 8px;
                    display: flex;
                    align-items: center;
                    @media (max-width:992px) {
                        margin-top: 4px;
                        margin-left: 0;
                    }
                }
            }
            .content{
                width: 100%;
                #fb-root{
                    width: 100%;
                }
                .fb-page{
                    width: 100%;
                }
                #video{
                    width: 100%;
                    height: 250px;
                    @media (max-width:992px) {
                        height: auto;
                    }
                    iframe{
                        width: 100%;
                        height: 200px;
                        @media (max-width:992px) {
                            height: 170px;
                        }
                        @media (max-width:767px) {
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
}

footer{
    width: 100%;
    background-color: #1d448f;
    background-size: cover;
    background-position-x: center;
    padding-top: 32px;
    @media (max-width:992px) {
        padding-top: 72px;
    }
    .footer1{
        width: 100%;
        height: auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        @media (max-width:992px) {
            flex-direction: column;
        }
        .footer1-content{
            width: 100%;
            &:nth-child(2){
                @media (max-width:992px) {
                    margin-top: 16px;
                }
            }
            @media (max-width:992px) {
                display: flex;
                width: 100%;
                justify-content: space-between;
                &:last-child{
                    width: 100%;
                    margin-top: 16px;
                    align-self: center;
                    flex-direction: column;
                    padding: 0px 16px;
                    justify-content: center;
                    align-items: center;
                    .address{
                        text-align: center;
                    }
                    form{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            ul{
                color: #6dcff6;
                padding: 0;
                font-size: 18pt;
                margin-bottom: 24px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                text-align: left;
                @media (max-width:992px) {
                    font-size: 12pt;
                    width: 30%;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                li{
                    list-style: none;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    a{
                        color: white;
                        font-size: 14pt;
                        @media (max-width:992px) {
                            font-size: 12pt;
                        }
                        @media (max-width:767px) {
                            font-size: 10pt;
                        }
                    }
                }
            }
            .footer-logo{
                width: 100%;
                @media (max-width:992px) {
                    width: 40%;
                }
                img{
                    width: 100%;
                }
            }
            .location{
                width: 100%;
                margin-top: 16px;
                @media (max-width:992px) {
                    width: 60%;
                }
                iframe{
                    width: 100%;
                    height: 300px;
                }
            }
            .address{
                font-size: 12pt;
                color: white;
                margin-top: 16px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
            }
            #subscribe{
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                margin-top: 16px;
                font-size: 18pt;
                color: #6dcff6;
                input{
                    width: 100%;
                    border-radius: unset;
                    margin-top: 8px;
                }
                button{
                    background-color: #ed1c24;
                    border-radius: unset;
                    color: white;
                    margin-top: 8px;
                    box-shadow: 3px 3px 5px 3px rgba($color: black, $alpha: 0.3);
                }
            }
        }
    }
    .footer2{
        width: 100%;
        background-color: black;
        margin-top: 32px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        .content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width:992px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .policy{
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0;
                    margin: 0;
                    li{
                        list-style: none;
                        margin-right: 16px;
                        &:last-child{
                            margin-right: 0;
                            margin-left: 16px;
                        }
                        a{
                            font-size: 12pt;
                            color: white;
                            @media (max-width:992px) {
                                font-size: 10pt;
                            }
                            @media (max-width:992px) {
                                font-size: 8pt;
                            }
                        }
                    }
                    hr{
                        height: 1px;
                        width: 18px;
                        transform: rotate(90deg);
                        background-color: white;
                    }
                }
            }
            .copyright{
                font-size: 12pt;
                color: white;
                @media (max-width:992px) {
                    font-size: 10pt;
                }
                @media (max-width:767px) {
                    font-size: 8pt;
                }
            }
        }
    }
}